<div>
	<span>Name:</span>
<%= @grade.name %>
</div>

<div>
<span>Course:</span>
<%= @grade.course %>
</div>

<div>
<span>ID_NUM:</span>
<%= @grade.idnumber %>
</div>

<div>
<span>Prelim_Exam:</span>
<%= @grade.prelim %>
</div>

<div>
<span>Midterm_Exam:</span>
<%= @grade.midterm %>
</div>

<div>
<span>Prefinal_Exam:</span>
<%= @grade.prefi %>
</div>

<div>
<span>Final_Exam:</span>
<%= @grade.final %>
</div>
